.App {
  text-align: center;
}

header {
  background-color: rgb(44, 44, 51);
  color: white;
  font-size: 80px;
}

li {
  list-style-type: none;
}

.card-styles {
  margin: auto;
  max-width: 25vw;
}

.center-text {
  justify-content: center;
  margin: auto;
  text-align: center;
}
